.App {
  text-align: center;
  max-width: 1800px;
  margin: 1rem auto 1rem auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  border-bottom: solid 2px;
  padding-bottom: 0.5rem;
}

.Content {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

header img {
  margin: 0 auto;
}

form {
  margin-bottom: 2rem;
}

.addTrainingBtn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.addTrainingBtn Button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  height: 40px;
}

.disziplindiv {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.submitBtn {
  margin: 0 0.25rem 1rem 0.25rem;
}

.form-inline {
  display: unset;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.TitleDaysOfWeekStyle{

  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row-reverse;
  border-bottom: 1px solid #e2e2e2;
  margin: 30px 0 15px 0;
  font-size: 12px;


}

.TitleDaysOfWeekStyle p {
  width: 40px;
  margin-bottom: 15px;
}

.tp-calendar > div:first-child {
  background-color: white !important;
  border-bottom: 2px solid;
}

.tp-calendar > div:first-child p{
  color: black !important;
}

.action svg path{
  fill: black !important;
}

.months .month {
  background-color: darkorange !important;
}

.week .selected {
  background-color: darkorange !important;
}