.TrainingauswahlDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.grobInDetail {
    display: inline-block;
    margin-bottom: 1rem;
}

.grobInDetail div{
    display: flex;
    justify-content: center;
}

.grobInDetail div div{
    border: 1px solid;
    border-radius: 3px;
    margin: 5px;
    padding: 3px 5px 3px 5px;
}

.trainingSelectDetail {
    margin: 0 0 0 10px;
}

.form-group {
    text-align: left;
}

#inputBemerkungen {
    resize: none;
}

input {
    margin: 0;
}

