#grobPlanungContainer {
    position: relative;
}

form {
    margin: 0 20px 0 20px;
}

Form.Label {
    text-align: left;
}

.sList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disziplindiv{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.disziplindiv div{
    border: 1px solid;
    border-radius: 3px;
    margin: 5px;
    padding: 3px 5px 3px 5px;
}

.form-check-input {
    position: relative !important;
}

input {
    height: 20px;
    width: 20px;
    margin: 0 10px 0 10px;
}

.calendar {
    margin: 1rem 200px 1rem 200px;
    border: 2px solid;
}

@media (max-width: 800px) {
    .calendar {
        margin: 1rem;
    }
}



.removeButton {
    font-weight: bold;
    border: 0px;
    pointer-events: visibleStroke;
    padding: 0px;
    padding-bottom: .25rem;
    padding-left: .25rem;
    /* background-color: unset; */
    /* color:red; */
}

.removeButton:hover {
    color: #dc3545;
    background-color: unset;
}
